.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.mainContent {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sunDiv {
  flex-grow: 1;
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 38, 38);
  box-shadow: 0px 4px 10px white;
  padding: 10px;
  border-radius: 10px;
}
p {
  text-align: center;
}
.textCont {
  color: rgb(185, 49, 49);
  font-family: cursive, Arial, Helvetica, sans-serif;
}
h3 {
  color: black;
  margin-bottom: 5px;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: rgb(254, 242, 79);
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
h3:hover {
  background-color: blue;
  color: white;
}
h2 {
  margin-top: 20px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}
h4 {
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-family: sans-serif;
}
.sunDiv img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 300px;
}
.movieTag {
  display: flex;
  gap: 10px;
}
.formSearch {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.formSearch input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.formSearch input:focus {
  outline: none;
}
.formSearch button {
  border: none;
  padding: 5px;
  background-color: rgb(0, 0, 254);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.formSearch button:hover {
  background-color: rgb(0, 0, 151);
}
/* Styles for screens smaller than 768 pixels wide */
@media (max-width: 767px) {
  /* Your CSS styles go here */
  body {
    font-size: 14px;
  }
  .sunDiv img {
    height: 200px;
  }
  .sunDiv {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    height: 300px;
  }
  h3 {
    font-size: 10px;
    padding: 2px;
    text-align: center;
  }
}
