.container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.2s ease;
  -webkit-overflow-scrolling: touch;
}

.movie {
  width: 200px;
  margin-right: 20px;
}
