* {
  margin: 0;
}
.body {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
  background-color: rgb(74, 72, 72);
}
.bodySub {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
